<%= form_with(model: task, local: true) do |form| %>
	<% if task.errors.present? %>
		<div id="error_explanation">
			<h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

			<ul>
				<% task.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<div class="card card-block">
			<div class="card-item">
				<%= form.number_field :user_id, id: :task_user_id %>
			</div>

			<div class="card-item card-title">
				<%= form.text_field :title, id: :task_title, placeholder: 'Title' %>
			</div>

			<div class="card-item card-text">
				<%= form.text_field :content, id: :task_content, placeholder: 'Take a note...'  %>
			</div>
			<div class="actions card-link">
				<%= form.submit %>
			</div>
		</div>
	</div>
<% end %>
