<p id="notice"><%= notice %></p>

<% @tasks.each do |task| %>
	<p>Welcome, <%= task.user_id %>!</p>
	<div class="card">
		<div class="card-block">
			<h4 class="card-title"><%= task.title %></h4>
			<p class="card-text"><%= task.content %></p>
			<%= link_to 'Show', task, class: "card-link" %> 
			<%= link_to 'Edit', edit_task_path(task), class: "card-link" %>
			<%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
		</div>
	</div>
<% end %>

<%= link_to 'New Task', new_task_path %>
